<div  >
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <!-- First column content -->
        </div>
        <div class="col-md-4">
          <!-- Second column content -->
          <form (submit)="updateProduit()">
          <h2>Modification d'un produit</h2>
            <div class="form-group">
                <label for="titre">Titre</label>
                <!--bootstrap input-->
                <input type="text" class="form-control" disabled id="titre" name="titre" [(ngModel)]="produit.titre" required>
                
            </div>
            <div class="form-group">
                <label for="prix">Prix</label>
                <!--bootstrap input-->
                <input type="number" class="form-control" id="prix" name="prix" [(ngModel)]="produit.prix" required>
                
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <!--bootstrap input-->
                <textarea class="form-control" id="description" name="description" [(ngModel)]="produit.description" required>
                </textarea>
                </div>
                <div class="form-group">
                    <label for="quantite">Quantite</label>
                    <!--bootstrap input-->
                    <input type="number" class="form-control" id="quantite" name="quantite" [(ngModel)]="produit.quantite" required>
                    
                </div>
            <button type="submit" class="btn btn-primary" >Modifier</button>
        </form>
        </div>
        <div class="col-md-4">
          <!-- Third column content -->
        </div>
      </div>
    </div>